<section class="nimble-selector__root">
	<div class="nimble-selector__header">
		<i class="fa-solid fa-scroll nimble-selector__header-icon"></i>
		<div class="nimble-selector__header-info">
			<h2 class="nimble-selector__header-title">Class Features</h2>
			<p class="nimble-selector__header-subtitle">{{className}} &mdash; Level {{fromLevel}}{{#if isRange}}&ndash;{{toLevel}}{{/if}}</p>
		</div>
	</div>

	<div class="nimble-selector__bulk-actions">
		<button type="button" class="nimble-selector__btn nimble-selector__btn--small" data-action="selectAll">
			<i class="fa-solid fa-check-double"></i> Select All
		</button>
		<button type="button" class="nimble-selector__btn nimble-selector__btn--small" data-action="deselectAll">
			<i class="fa-solid fa-xmark"></i> Deselect All
		</button>
	</div>

	{{#if hasSelectableGroups}}
	<div class="nimble-selector__filter-bar">
		<button type="button"
				class="nimble-selector__filter-btn {{#unless activeGroup}}nimble-selector__filter-btn--active{{/unless}}"
				data-action="filterGroup" data-group="">
			<i class="fa-solid fa-layer-group"></i> All
		</button>
		{{#each selectableGroups}}
			<button type="button"
					class="nimble-selector__filter-btn {{#if this.active}}nimble-selector__filter-btn--active{{/if}}"
					data-action="filterGroup" data-group="{{this.id}}">
				<i class="fa-solid fa-list-check"></i> {{this.label}}
			</button>
		{{/each}}
	</div>
	{{/if}}

	<div class="nimble-selector__scroll-area">
		{{#each levelGroups}}
			<div class="nimble-selector__level-group">
				<div class="nimble-selector__level-label">Level {{this.level}}</div>
				<div class="nimble-selector__card-grid">
					{{#each this.features}}
						<div class="nimble-selector__card {{#if this.selected}}nimble-selector__card--selected{{/if}} {{#if this.alreadyOwned}}nimble-selector__card--owned{{/if}}"
							 data-action="toggleFeature" data-uuid="{{this.uuid}}" data-name="{{this.name}}"
							 data-tooltip="{{this.description}}" data-tooltip-direction="LEFT">
							<input type="checkbox" class="nimble-selector__card-checkbox"
								   {{#if this.selected}}checked{{/if}}
								   {{#if this.alreadyOwned}}disabled{{/if}} />
							<img class="nimble-selector__card-img" src="{{this.img}}" alt="{{this.name}}" />
							<div class="nimble-selector__card-content">
								<div class="nimble-selector__card-name">{{this.name}}</div>
								<div class="nimble-selector__card-meta">
									{{#if this.selectableGroup}}
										<span class="nimble-selector__group-badge">
											<i class="fa-solid fa-list-check"></i> {{this.selectableGroup}}
										</span>
									{{else}}
										{{#if this.matched}}Compendium match{{else}}Not found in compendium{{/if}}
									{{/if}}
								</div>
							</div>
							{{#if this.alreadyOwned}}
								<span class="nimble-selector__card-owned-tag">Owned</span>
							{{/if}}
						</div>
					{{/each}}
				</div>
			</div>
		{{/each}}

		{{#unless levelGroups.length}}
			<div class="nimble-selector__empty">No features available for the selected levels.</div>
		{{/unless}}
	</div>

	<div class="nimble-selector__actions">
		<button type="button" class="nimble-selector__btn" data-action="cancel">
			<i class="fa-solid fa-xmark"></i> Cancel
		</button>
		<button type="button" class="nimble-selector__btn" data-action="confirm"
				{{#unless hasSelection}}disabled{{/unless}}>
			<i class="fa-solid fa-check"></i> Grant Selected ({{selectedCount}})
		</button>
	</div>
</section>
