<section class="nimble-selector__root">
	<div class="nimble-selector__header">
		<i class="fa-solid fa-shield-halved nimble-selector__header-icon"></i>
		<div class="nimble-selector__header-info">
			<h2 class="nimble-selector__header-title">{{localize "NIMBLE_SELECTOR.equipment.title"}}</h2>
			<p class="nimble-selector__header-subtitle">{{className}} &mdash; {{proficiencySummary}}</p>
		</div>
	</div>

	{{!-- Proficiency Filter --}}
	<div class="nimble-selector__filter-bar">
		<label class="nimble-selector__filter-toggle" data-action="toggleProficiencyFilter">
			<input type="checkbox" {{#if showOnlyProficient}}checked{{/if}} />
			{{localize "NIMBLE_SELECTOR.equipment.proficiencyFilter"}}
		</label>
	</div>

	{{!-- Category Filter --}}
	<div class="nimble-selector__category-tabs">
		<button type="button"
				class="nimble-selector__category-tab {{#unless activeCategory}}nimble-selector__category-tab--active{{/unless}}"
				data-action="filterCategory" data-category="">
			{{localize "NIMBLE_SELECTOR.equipment.all"}}
		</button>
		{{#each categories}}
			<button type="button"
					class="nimble-selector__category-tab {{#if this.active}}nimble-selector__category-tab--active{{/if}}"
					data-action="filterCategory" data-category="{{this.id}}">
				<i class="{{this.icon}}"></i> {{this.label}}
			</button>
		{{/each}}
	</div>

	{{!-- Equipment List --}}
	<div class="nimble-selector__scroll-area">
		{{#if filteredEquipment.length}}
			<div class="nimble-selector__card-grid">
				{{#each filteredEquipment}}
					<div class="nimble-selector__card {{#if this.selected}}nimble-selector__card--selected{{/if}}"
						 data-action="toggleEquipment" data-uuid="{{this.uuid}}"
						 data-tooltip="{{this.description}}" data-tooltip-direction="LEFT">
						<input type="checkbox" class="nimble-selector__card-checkbox"
							   {{#if this.selected}}checked{{/if}} />
						<img class="nimble-selector__card-img" src="{{this.img}}" alt="{{this.name}}" />
						<div class="nimble-selector__card-content">
							<div class="nimble-selector__card-name">{{this.name}}</div>
							<div class="nimble-selector__card-meta">{{this.typeLabel}}</div>
						</div>
					</div>
				{{/each}}
			</div>
		{{else}}
			<div class="nimble-selector__empty">{{localize "NIMBLE_SELECTOR.equipment.noEquipment"}}</div>
		{{/if}}
	</div>

	<div class="nimble-selector__actions">
		<button type="button" class="nimble-selector__btn" data-action="cancel">
			<i class="fa-solid fa-xmark"></i> {{localize "NIMBLE_SELECTOR.actions.cancel"}}
		</button>
		<button type="button" class="nimble-selector__btn" data-action="confirm"
				{{#unless hasSelection}}disabled{{/unless}}>
			<i class="fa-solid fa-check"></i> {{localize "NIMBLE_SELECTOR.equipment.grantSelected"}} ({{selectedCount}})
		</button>
	</div>
</section>
