{{!-- School Choice Section --}}
{{!-- Rendered once per pending or confirmed choice --}}

{{#if hasSchoolChoices}}
<div class="nimble-selector__section">
	<div class="nimble-selector__section-header">
		<span><i class="fa-solid fa-hand-pointer"></i> {{localize "NIMBLE_SELECTOR.panel.spells"}} &mdash; {{headerLabel}}</span>
	</div>
	<div class="nimble-selector__section-body">
		{{!-- Pending choices --}}
		{{#each pendingChoices}}
		<div class="nimble-selector__school-choice" data-choice-key="{{this.key}}">
			<div class="nimble-selector__school-choice-label">
				{{this.label}}
			</div>
			<div class="nimble-selector__school-choice-options">
				{{#each this.availableOptions}}
				<button type="button"
					class="nimble-selector__school-choice-btn {{#if this.selected}}nimble-selector__school-choice-btn--selected{{/if}}"
					data-action="selectSchoolChoice"
					data-choice-key="{{../key}}"
					data-school="{{this.id}}">
					<i class="{{lookup @root.schoolIcons this.id}} nimble-selector__school-icon--{{this.id}}"></i>
					{{capitalize this.id}}
				</button>
				{{/each}}
			</div>
			<button type="button"
				class="nimble-selector__btn nimble-selector__btn--small"
				data-action="confirmSchoolChoice"
				data-choice-key="{{this.key}}"
				{{#unless this.isReady}}disabled{{/unless}}>
				<i class="fa-solid fa-check"></i> {{localize "NIMBLE_SELECTOR.schoolChoice.confirm"}}
			</button>
		</div>
		{{/each}}

		{{!-- Confirmed choices --}}
		{{#each confirmedChoices}}
		<div class="nimble-selector__school-choice nimble-selector__school-choice--confirmed" data-choice-key="{{this.key}}">
			<div class="nimble-selector__school-choice-label">
				<i class="fa-solid fa-circle-check"></i>
				{{localize "NIMBLE_SELECTOR.schoolChoice.confirmed"}}
			</div>
			<div class="nimble-selector__school-choice-options">
				{{#each this.chosenSchools}}
				<span class="nimble-selector__school-choice-btn nimble-selector__school-choice-btn--locked">
					<i class="{{lookup @root.schoolIcons this}} nimble-selector__school-icon--{{this}}"></i>
					{{capitalize this}}
				</span>
				{{/each}}
			</div>
			<button type="button"
				class="nimble-selector__btn nimble-selector__btn--small"
				data-action="editSchoolChoice"
				data-choice-key="{{this.key}}">
				<i class="fa-solid fa-pen"></i> {{localize "NIMBLE_SELECTOR.schoolChoice.edit"}}
			</button>
		</div>
		{{/each}}
	</div>
</div>
{{/if}}
