<section class="nimble-selector__root">
	<div class="nimble-selector__header">
		<i class="fa-solid fa-arrow-up-right-dots nimble-selector__header-icon"></i>
		<div class="nimble-selector__header-info">
			<h2 class="nimble-selector__header-title">{{actorName}}</h2>
			<p class="nimble-selector__header-subtitle">{{className}} &mdash; {{localize "NIMBLE_SELECTOR.panel.level"}} {{level}}</p>
		</div>
	</div>

	<div class="nimble-selector__body">
		{{!-- Features Section --}}
		<div class="nimble-selector__section">
			<div class="nimble-selector__section-header" data-action="openFeatures">
				<span><i class="fa-solid fa-scroll"></i> {{localize "NIMBLE_SELECTOR.panel.classFeatures"}}</span>
				<span class="nimble-selector__section-badge">{{features.length}}</span>
			</div>
			<div class="nimble-selector__section-body">
				{{#if features.length}}
					<div class="nimble-selector__card-grid">
						{{#each features}}
							<div class="nimble-selector__card {{#if this.alreadyOwned}}nimble-selector__card--owned{{/if}}">
								<img class="nimble-selector__card-img" src="{{this.img}}" alt="{{this.name}}" />
								<div class="nimble-selector__card-content">
									<div class="nimble-selector__card-name">{{this.name}}</div>
									<div class="nimble-selector__card-meta">
									{{#if this.selectableGroup}}
										<i class="fa-solid fa-list-check"></i> {{this.selectableGroup}}
									{{else}}
										{{localize "NIMBLE_SELECTOR.panel.level"}} {{this.level}}
									{{/if}}
								</div>
								</div>
								{{#if this.alreadyOwned}}
									<span class="nimble-selector__card-owned-tag">{{localize "NIMBLE_SELECTOR.panel.owned"}}</span>
								{{/if}}
							</div>
						{{/each}}
					</div>
				{{else}}
					<div class="nimble-selector__empty">{{localize "NIMBLE_SELECTOR.panel.noFeatures"}}</div>
				{{/if}}
			</div>
		</div>

		{{!-- Spells Section --}}
		{{#if hasSpellcasting}}
		<div class="nimble-selector__section">
			<div class="nimble-selector__section-header" data-action="openSpells">
				<span><i class="fa-solid fa-hat-wizard"></i> {{localize "NIMBLE_SELECTOR.panel.spells"}}</span>
				<span class="nimble-selector__section-badge">{{spellCount}}</span>
			</div>
			<div class="nimble-selector__section-body">
				{{#if spellSchools.length}}
					<div class="nimble-selector__filter-bar">
						{{#each spellSchools}}
							<span class="nimble-selector__filter-btn nimble-selector__filter-btn--active">
								<i class="{{this.icon}} nimble-selector__school-icon--{{this.id}}"></i>
								{{this.label}}
							</span>
						{{/each}}
					</div>
					<div class="nimble-selector__notification">
						<i class="fa-solid fa-circle-info"></i>
						{{localize "NIMBLE_SELECTOR.panel.maxTier"}}: {{maxTier}}
					</div>
				{{else}}
					<div class="nimble-selector__empty">{{localize "NIMBLE_SELECTOR.panel.noSchools"}}</div>
				{{/if}}
			</div>
		</div>
		{{/if}}

		{{!-- Equipment Section --}}
		<div class="nimble-selector__section">
			<div class="nimble-selector__section-header" data-action="openEquipment">
				<span><i class="fa-solid fa-shield-halved"></i> {{localize "NIMBLE_SELECTOR.panel.equipment"}}</span>
				<span class="nimble-selector__section-badge">{{equipmentCount}}</span>
			</div>
			<div class="nimble-selector__section-body">
				<div class="nimble-selector__notification">
					<i class="fa-solid fa-circle-info"></i>
					{{localize "NIMBLE_SELECTOR.panel.armor"}}: {{proficiencySummary.armor}} &mdash; {{localize "NIMBLE_SELECTOR.panel.weapons"}}: {{proficiencySummary.weapons}}
				</div>
			</div>
		</div>
	</div>

	<div class="nimble-selector__actions">
		<button type="button" class="nimble-selector__btn" data-action="openFeatures">
			<i class="fa-solid fa-scroll"></i> {{localize "NIMBLE_SELECTOR.panel.features"}}
		</button>
		{{#if hasSpellcasting}}
		<button type="button" class="nimble-selector__btn" data-action="openSpells">
			<i class="fa-solid fa-hat-wizard"></i> {{localize "NIMBLE_SELECTOR.panel.spells"}}
		</button>
		{{/if}}
		<button type="button" class="nimble-selector__btn" data-action="openEquipment">
			<i class="fa-solid fa-shield-halved"></i> {{localize "NIMBLE_SELECTOR.panel.equipment"}}
		</button>
		<button type="button" class="nimble-selector__btn" data-action="closePanel">
			<i class="fa-solid fa-xmark"></i> {{localize "NIMBLE_SELECTOR.panel.close"}}
		</button>
	</div>
</section>
